/* Store this code in 'style.css' file inside the 'static' folder*/

.header{
    padding: 3px 120px;
    width: 150px;
    height: 90px;
    background-color: #2e2f2f;
}

.border{
    padding: 80px 50px;
    width: 400px;
    height: 450px;
    border: 1px solid #121313;
    border-radius: 30px;
    background-color: #d1d4d4;
    height: 700px;
}

.btn {
    padding: 10px 40px;
    background-color: #0a0a0a;
    color: #FFFFFF;
    font-style: oblique;
    font-weight: bold;
    border-radius: 10px;
    
}

.textbox{
    padding: 10px 50px;
    background-color: #0a0a0a;
    color: #FFFFFF;
    border-radius: 10px;
}
    
::placeholder {
    color: #FFFFFF;
    opacity: 1;
    font-style: oblique;
    font-weight: bold;
}

.word{
    color: #fdfdfd;
    font-style: oblique;
    font-weight: bold;
}

.bottom{
    color: #0a0a0a;
    font-style: oblique;
    font-weight: bold;
}
.msg{
    color: #0a0a0a;
}
