<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Missing</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>

<body>
<section class="shadow-md">
    <div id="navbarMenuHeroA"
         class="text-lg flex flex-row max-w-screen-xl mx-auto justify-between items-center">
        </div>
    </div>
</section>
<div class="max-w-screen-xl mx-auto p-2">
    <div>
        {% block content %}
        {% endblock %}
    </div>
</div>
</body>

</html>