<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<link rel="stylesheet" href="{{url_for('static', filename='mainstyle.css')}}">
<body >
    <header class="header">
        
            <!-- left box for logo -->
            

            <!-- mid box for navigation -->
            <div class="title">
                <p>
                    MISSING PERSON SITE
                </p>
            </div>

            <!-- right box for button -->
           
            <div class="right">
            <a href="http://127.0.0.1:5000/register">
            <button class="btn">
                Signup
            </button></a>
            <a href="http://127.0.0.1:5000/login">
            <button class="btn">
                Login
            </button></a>
            <a href="http://127.0.0.1:5000/directory">
                <button class="btn">
                    Directory
                </button></a> 
            <a href="http://127.0.0.1:5000/found">
                    <button class="btn">
                        Found
                    </button></a>     
                           
           </div>
       
       
    </header>
</body>
</html>
    